<div class="shopping-list-container">
  <h1>General Shopping List</h1>

  <div class="shopping-list-summary">
    <p><span>Total Food Items:</span><span><%= @total_food_items %></span></p>
    <p><span>Total Price:</span><span><%= @total_price %></span></p>
  </div>

  <div class="shopping-list-table">
    <table class="table">

      <tr>
        <th class="table-header">Food Item</th>
        <th class="table-header">Quantity</th>
        <th class="table-header">Total Price</th>
      </tr>

      <tbody>
        <% @general_shopping_list.each do |item| %>
          <tr class="table-row">
            <td class="table-cell"><%= item[:name] %></td>
            <td class="table-cell"><%= item[:quantity] %></td>
            <td class="table-cell"><%= item[:price] * item[:quantity] %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>
